{% extends "layout.html.twig" %}

{% block title %}Jean Forteroche{% endblock %}

{% block content %}
    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <br/><br/>
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title">Biographie</h1>
                    <div class="separator-2"></div>
                    <div class="space"></div>
                    <!-- page-title end -->

                    <div class="row">
                        <div class="col-lg-4 col-sm-4">
                            <div class="box-style-1 gray-bg team-member">
                                <div class="overlay-container">
                                    <img src="{{ asset('/lib/assets/images/team-member-2.jpg?v1') }}" alt="">
                                </div>
                                <h3>Jean Forteroche</h3>
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-8">
                            <p>Né en 1972, Jean Forteroche a fait des études de Lettres Modernes et d’Etudes Théâtrales à Paris.
                                C’est à l’âge de vingt cinq ans, en 1997, qu’il publie sa première pièce, <i>Onysos le furieux</i>, à Théâtre Ouvert.
                                Ce premier texte sera monté en 2000 au Théâtre national de Strasbourg dans une mise en scène de Yannis Kokkos.
                                Suivront alors des années consacrées à l’écriture théâtrale, avec notamment Pluie de cendres jouée au Studio de la Comédie Française, <i>Combat de Possédés</i>, traduite et joué en Allemagne,
                                puis mise en lecture en anglais au Royal National Theatre de Londres, <i>Médée Kali joué</i> au Théâtre du Rond Point et Les <i>Sacrifiées</i></p>
                            <p>Parallèlement à ce travail, Jean Forteroche se lance dans l’écriture romanesque.
                                En 2001, âgé de vingt neuf ans, il publie son premier roman, <i>Cris</i>. L’année suivante, en 2002, il obtient le Prix Goncourt des Lycéens et
                                le prix des Libraires avec <i>La mort du roi Tsongor</i>. En 2004, il est lauréat du Prix Goncourt pour <i>Le soleil des Scorta</i>, roman traduit dans 34 pays.</p>
                            <p>Romancier et dramaturge, Jean Forteroche est aussi auteur de nouvelles, d’un beau livre avec le photographe Oan Kim, d’un album pour enfants, de scénario.
                                Il s’essaie à toutes ces formes pour le plaisir d’explorer sans cesse le vaste territoire de l’imaginaire et de l’écriture.</p>
                            <h3><i>Jean Forteroche en sept dates</i> </h3>
                            <ul class="list-icons">
                                <li><i class="icon-check">1972 :</i>  Naissance à Paris.</li>
                                <li><i class="icon-check">1997 :</i>  Première pièce de théâtre. Onysos le Furieux est publié en tapuscrit (Théâtre Ouvert)</li>
                                <li><i class="icon-check">1997 :</i> Première création théâtrale. Onysos le Furieux est mis en scène par Yannis Kokkos au Théâtre National de Strasbourg.</li>
                                <li><i class="icon-check">2001 :</i> Premier roman. Cris paraît aux éditions Actes Sud.</li>
                                <li><i class="icon-check">2002 :</i>  La mort du roi Tsongor obtient le Goncourt des Lycéens..</li>
                                <li><i class="icon-check">2004 :</i>  Le soleil des Scorta obtient le Prix Goncourt.</li>
                                <li><i class="icon-check">2015 :</i>  « Danser les ombres », huitième roman, paraît aux éditions Actes Sud .</li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-8 col-sm-offset-4 col-md-offset-0">
                            <div class="vertical-divider-left-lg side">
                                <h2 class="title">Me contacter</h2>
                                <ul class="list-icons">
                                    <li><i class="fa fa-phone pr-5"></i>+12 123 123 1234</li>
                                    <li><i class="fa fa-mobile pr-5"></i>+12 123 123 1234</li>
                                    <li><i class="fa fa-envelope pr-5"></i><a href="mailto:jforteroche@gmail.com">jforteroche@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- main-container end -->
{% endblock %}